.logo {
    float: left;
    margin-right:30px;
  }

  .logo h3{
    padding:0;
    color:#ffffff;
    margin:0;
  }

  [nz-menu] {
    line-height: 64px;
  }

  nz-content {
    padding: 0 50px;
  }

  nz-footer {
    text-align: center;
  }

  .inner-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }

  nz-select {
    width: 200px;
  }

  [nz-button] {
    margin-top: 27px;
  }