<nz-layout>
    <nz-header>
      <div class="logo"><h3>SSK Deployements</h3></div>
    </nz-header>
    <nz-content>
      <div class="inner-content">

        <div nz-row>
          <div nz-col nzSpan="4">
            <h4>Select Vendor</h4>
            <nz-select [ngModel]="'tag'" nzAllowClear>
              <nz-option nzLabel="Jack" nzValue="tag1"></nz-option>
              <nz-option nzLabel="Lucy" nzValue="tag2"></nz-option>
              <nz-option nzLabel="Tom" nzValue="tag3"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="4">
            <h4>Select Project</h4>
            <nz-select [ngModel]="'tag'" nzAllowClear>
              <nz-option nzLabel="Jack" nzValue="tag1"></nz-option>
              <nz-option nzLabel="Lucy" nzValue="tag2"></nz-option>
              <nz-option nzLabel="Tom" nzValue="tag3"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="4">
            <h4>Select Tag</h4>
            <nz-select [ngModel]="'tag'" nzAllowClear>
              <nz-option nzLabel="Jack" nzValue="tag1"></nz-option>
              <nz-option nzLabel="Lucy" nzValue="tag2"></nz-option>
              <nz-option nzLabel="Tom" nzValue="tag3"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="4">
            <button nz-button nzType="primary">Submit</button>
          </div>
        </div>


      <!-- table -->
      <nz-table #basicTable [nzData]="listOfData">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.name }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.address }}</td>
            <td>
              <a>Action 一 {{ data.name }}</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a>Delete</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <!-- table  -->

    </div>

    </nz-content>
    <nz-footer>©2019 Made with Love by Wavetec SSK </nz-footer>
  </nz-layout>